body {
  font-family: sans-serif;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.table {
  padding: 5px;
  border: 1px solid black;
  margin: 20px 5px;
  width: 70vw;
  border-collapse: collapse;
}

.semesterHeading {
  padding: 5px;
  background-color: cyan;
}

.courses {
  display: flex;
  justify-content: space-around;
  max-width: 70vw;
  flex-wrap: wrap;
  margin: auto;
}

tr {
  border: 2px solid blue;
  padding: 8px;
}

th,
td {
  border: 1px solid black;
  padding: 4px;
}
